/* alternate to font squirrel http://www.font2web.com/ */

/* inspiration for Inconsolata from http://hivelogic.com/articles/top-10-programming-fonts
   Direct Free Source at http://www.levien.com/type/myfonts/inconsolata.html */
/*@font-face {
    font-family: 'inconsolatamedium';
    src: url('fonts/inconsolata-webfont.eot');
    src: url('fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/inconsolata-webfont.woff') format('woff'),
         url('fonts/inconsolata-webfont.ttf') format('truetype'),
         url('fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
	font-family: 'inconsolatamedium';
	src: url('fonts/inconsolata.otf'),
		url('fonts/inconsolata-webfont.eot');
    font-weight: normal;
    font-style: normal;
}



/* Lavandaria found at:; http://www.losttype.com/
   Referral: http://www.creativebloq.com/graphic-design-tips/best-free-fonts-for-designers-1233380 */
/*
@font-face {
    font-family: 'Lavanderia';
    src: url('fonts/lavanderia_regular-webfont.eot');
    src: url('fonts/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lavanderia_regular-webfont.woff') format('woff'),
         url('fonts/lavanderia_regular-webfont.ttf') format('truetype'),
         url('fonts/lavanderia_regular-webfont.svg#lavanderia_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lavanderia Sturdy';
    src: url('fonts/lavanderia_sturdy-webfont.eot');
    src: url('fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lavanderia_sturdy-webfont.woff') format('woff'),
         url('fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
         url('fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

/* Gill Sans http://bonfx.com/fonts-that-work-with-gill-sans/ */
@font-face {
	font-family: 'gillsans';
	src: url('fonts/gillsans.otf'),
		url('fonts/gillsans.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'gillsans_bold';
	src: url('fonts/gillsans_bold.otf'),
		url('fonts/gillsans_bold.eot');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
	font-family: 'gillsans_bolditalic';
	src: url('fonts/gillsans_bolditalic.otf'),
		url('fonts/gillsans_bolditalic.eot');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
	font-family: 'gillsans_condensed';
	src: url('fonts/gillsans_condensed.otf'),
		url('fonts/gillsans_condensed.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'gillsans_italic';
	src: url('fonts/gillsans_italic.otf'),
		url('fonts/gillsans_italic.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'gillsans_light';
	src: url('fonts/gillsans_light.otf'),
		url('fonts/gillsans_light.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'gillsans_lightitalic';
	src: url('fonts/gillsans_lightitalic.otf'),
		url('fonts/gillsans_lightitalic.eot');
    font-weight: normal;
    font-style: normal;
}




/* Candida complement for Erbar */
/*
@font-face {
    font-family: 'Candida Bold';
    src: url('fonts/baltica_bold_cyrillic-webfont.eot');
    src: url('fonts/baltica_bold_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/baltica_bold_cyrillic-webfont.woff') format('woff'),
         url('fonts/baltica_bold_cyrillic-webfont.ttf') format('truetype'),
         url('fonts/baltica_bold_cyrillic-webfont.svg#balticacbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Candida';
    src: url('fonts/baltica_cyrillic-webfont.eot');
    src: url('fonts/baltica_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/baltica_cyrillic-webfont.woff') format('woff'),
         url('fonts/baltica_cyrillic-webfont.ttf') format('truetype'),
         url('fonts/baltica_cyrillic-webfont.svg#balticacregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Candida Italic';
    src: url('fonts/baltica_italic_cyrillic-webfont.eot');
    src: url('fonts/baltica_italic_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/baltica_italic_cyrillic-webfont.woff') format('woff'),
         url('fonts/baltica_italic_cyrillic-webfont.ttf') format('truetype'),
         url('fonts/baltica_italic_cyrillic-webfont.svg#balticacitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


@font-face {
    font-family: 'Candida Bold';
    src: url('fonts/baltica_bold_cyrillic-webfont.eot');
    src: url('fonts/baltica_bold_cyrillic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Candida';
    src: url('fonts/baltica_cyrillic-webfont.eot');
    src: url('fonts/baltica_cyrillic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Candida Italic';
    src: url('fonts/baltica_italic_cyrillic-webfont.eot');
    src: url('fonts/baltica_italic_cyrillic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/* Poly: http://www.behance.net/gallery/Poly-a-free-web-font/2890189;
   Referral: http://www.smashingmagazine.com/2012/07/20/free-font-round-up/ */

/* font-feature-settings sandbox: http://clagnut.com/sandbox/css3/ */
.font_rich {
	-moz-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1;
	/*-moz-font-feature-settings:"onum=1, pnum=1, kern=1, liga=1, dlig=1, hlig=1, clig=1, swsh=1, calt=1, hist=1";*/
	-ms-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1;
	-o-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1;
	-webkit-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1;
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1; 
}
.font_no_calt {
	-moz-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 0, "hist" 1;
	-ms-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 0, "hist" 1;
	-o-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 0, "hist" 1;
	-webkit-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 0, "hist" 1;
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 0, "hist" 1; 
}
.font_no_calt_no_swsh {
	-moz-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 0, "calt" 0, "hist" 1;
	-ms-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 0, "calt" 0, "hist" 1;
	-o-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 0, "calt" 0, "hist" 1;
	-webkit-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 0, "swsh" 1, "calt" 0, "hist" 1;
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 0, "calt" 0, "hist" 1; 
}
.font_plain {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "dlig" 0, "hlig" 0, "clig" 0, "swsh" 0, "calt" 0, "hist" 0;
	-ms-font-feature-settings:"kern" 1, "liga" 1, "dlig" 0, "hlig" 0, "clig" 0, "swsh" 0, "calt" 0, "hist" 0;
	-o-font-feature-settings:"kern" 1, "liga" 1, "dlig" 0, "hlig" 0, "clig" 0, "swsh" 0, "calt" 0, "hist" 0;
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "dlig" 0, "hlig" 0, "clig" 0, "swsh" 0, "calt" 0, "hist" 0;
	font-feature-settings:"kern" 1, "liga" 1, "dlig" 0, "hlig" 0, "clig" 0, "swsh" 0, "calt" 0, "hist" 0; 
}


