/* THE COLOR PALETTE!
	Everything will be based off Maya Blue. #73c2fb
	Left column is Maya Blue and its complements
	#73C2FB	rgba(115, 194, 251, 1)		#8C3D04
	#73FBC2 rgba(115, 251, 194, 1)		#8C043D
	#C273FB rgba(194, 115, 251, 1)		#3D8C04
	#C2FB73 rgba(194, 251, 115, 1)		#3D048C
	#FB73C2 rgba(251, 115, 251, 1)		#048C3D
	#FBC273 rgba(251, 251, 115, 1)		#043D8C


*/

/*
start looking into parallax page scrolling
http://net.tutsplus.com/tutorials/html-css-techniques/simple-parallax-scrolling-technique/
http://richardshepherd.com/smashing/parallax/background.html
*/


html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
body {
	margin: 0;
	padding: 0;
    font: normal normal normal 100%/1.5 Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    /* ligatures https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
}
body > header, body > article, body > footer {
	margin: 0 auto;
}
img {
	border-width: 0;
}
h1, h2, h3, p, li {
	margin: 0;
}
ul, ol {
	margin: 0 0 2em 0;
	padding: 0;
}
p, li {
	font-size: 1.5em;
	line-height: 1.3333333em;
}
p {
	padding-bottom: 1.333333em;
}
code, pre > span {
	font-size: 1.6em;
	line-height: 1.25em;
	font-family: "inconsolatamedium", "Consolas", "Menlo", "Monaco", monospace;
}
p > code {
	padding: 0 0.125em;
	font-size: 1.066667em;
	line-height: 1.25em;
	background-color: rgba(0,0,0,0.05);
}
p > small {
	font-size: 1em;
}
a:link {
	color: #043D8C;
	text-decoration:  none;
}
a:visited {
	color: #3D048C;
	text-decoration: none;
}
a:hover, #head_soc li:hover:nth-child(6) a:hover {
	color: #8C043D;
	text-decoration: underline;
}
a:active, a:focus {
	color: #3D8C04;
	text-decoration: underline;
}
article {
	clear: both;
	position: relative;
}
article > section {
	width: 108em;
	margin: 0 auto;
	padding-right: 5em;
	padding-left: 5em;
}
article h2 {
	width: 54em;
	margin: 0 auto;
	padding: 0 2.5em 0.5em 2.5em;
	font-size: 2em;
	line-height: 1em;
	padding-bottom: 0.5em;
}
article h3 {
	font-size: 1.5em;
	line-height: 1.333333em;
	padding-bottom: 0em;
}
figure {
	margin: 0;
}
figure > blockquote {
	margin: 0;
}
pre {
	margin: 0;
	font-size: 1.2295082em;
	line-height: 1em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	pre {
	font-size: 1em;
	}
}










[role="banner"] {
	position: relative;
	width: 108em;
	padding-right: 5em;
	padding-left: 5em;
	font-family: "gillsans", sans-serif;
}
[role="banner"] h1 {
	padding: 0 0 0.25em 0;
	font-weight: normal;
	font-size: 12em;
	line-height: 1em;
	font-family: "lavanderiaregular", "Helvetica", sans-serif;
	-moz-font-variant-ligatures: no-common-ligatures, no-discretionary-ligatures;
}
[role="banner"] h3 {
	font-weight: normal;
	font-family: "gillsans_bold", sans-serif;
}
[role="banner"] h3, [role="banner"] p {
	font-size: 2em;
	line-height: 1.5em;
}
[role="banner"] cite {
	font-style: normal;
	font-family: "gillsans_italic", sans-serif;
}
[role="banner"] > aside#head_soc {
}
#head_soc h3 {
	display: none;
}
#head_soc ul {
	overflow: auto;
}
#head_soc li {
	list-style-type: none;
	float: left;
	font-size: 1em;
	overflow: auto;
	height: 4em;
	margin: 0 1em 0 0;
	padding-left: 4.2em;
	background-image: url(../img/social_sprites.png);
	background-size: 4em 48em;
	background-repeat: no-repeat;
}
#head_soc li:last-of-type {
	margin-right: 0;
}
#head_soc li > span {
	display: block;
	height: 3em;
	padding-top: 0.7em;
}
#head_soc li > span > * {
	font-size: 1.5em;
	line-height: 1em;
}
#head_soc li:nth-child(1) {background-position: 0em 0em;}
#head_soc li:nth-child(2) {background-position: 0em -4em;}
#head_soc li:nth-child(3) {background-position: 0em -8em;}
#head_soc li:nth-child(4) {background-position: 0em -12em;}
#head_soc li:nth-child(5) {background-position: 0em -16em;}
#head_soc li:nth-child(6) {background-position: 0em -20em;}

#head_soc li:hover {
	cursor: pointer;
}
#head_soc li:hover:nth-child(1) {background-position: 0em -24em;}
#head_soc li:hover:nth-child(2) {background-position: 0em -28em;}
#head_soc li:hover:nth-child(3) {background-position: 0em -32em;}
#head_soc li:hover:nth-child(4) {background-position: 0em -36em;}
#head_soc li:hover:nth-child(5) {background-position: 0em -40em;}
#head_soc li:hover:nth-child(6) {background-position: 0em -44em;
	cursor: default;
}
#head_soc li:hover a {
	color: #8C043D;
	text-decoration: underline;
}
#head_soc li:hover:nth-child(6) a:link {
	color: #043D8C;
	text-decoration: none;
}
#head_soc li:hover:nth-child(6) a:visited {
	color: #3D048C;
	text-decoration: none;
}
#head_soc li:hover:nth-child(6) a:hover {
	color: #8C043D;
	text-decoration: underline;
}
[role="banner"] .next_arrow {
	text-shadow: 0 0.02em 0.02em rgba(255,255,255,1);
	color: #043D8C;
	background-image:
		-webkit-linear-gradient(270deg, rgba(115,137,153,0.18) 0%, rgba(115,137,153,0.13) 10%,
			rgba(115,137,153,0.25) 10%, rgba(115,137,153,0.20) 20%,
			rgba(115,137,153,0.31) 20%, rgba(115,137,153,0.26) 30%,
			rgba(115,137,153,0.39) 30%, rgba(115,137,153,0.34) 40%,
			rgba(115,137,153,0.47) 40%, rgba(115,137,153,0.42) 50%,
			rgba(115,137,153,0.54) 50%, rgba(115,137,153,0.49) 60%,
			rgba(115,137,153,0.63) 60%, rgba(115,137,153,0.58) 70%,
			rgba(115,137,153,0.71) 70%, rgba(115,137,153,0.64) 80%);
	background-image:
		linear-gradient(180deg, rgba(115,137,153,0.18) 0%, rgba(115,137,153,0.13) 10%,
			rgba(115,137,153,0.25) 10%, rgba(115,137,153,0.20) 20%,
			rgba(115,137,153,0.31) 20%, rgba(115,137,153,0.26) 30%,
			rgba(115,137,153,0.39) 30%, rgba(115,137,153,0.34) 40%,
			rgba(115,137,153,0.47) 40%, rgba(115,137,153,0.42) 50%,
			rgba(115,137,153,0.54) 50%, rgba(115,137,153,0.49) 60%,
			rgba(115,137,153,0.63) 60%, rgba(115,137,153,0.58) 70%,
			rgba(115,137,153,0.71) 70%, rgba(115,137,153,0.64) 80%);
	background-repeat: no-repeat;
	background-size: 0.8em 1.6em;
	background-position: 0.16em 0.32em;
}
[role="banner"] .next_arrow:hover {
	color: #3D048C;
	background-position: 0.16em 0em;
}












#photos {
	position: relative;
	width: 100%;
	padding: 0;
	background-color: #282828;
	overflow: auto;
}
#photos #ps_fadebar {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40em;
	z-index: 2;
	opacity: 1;
	background-image:
		-webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6.25%,
			rgba(255,255,255,0.75) 50%, rgba(255,255,255,0.25) 75%, rgba(255,255,255,0) 100%);
	background-image:
		linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12.5%,
			rgba(255,255,255,0.75) 50%, rgba(255,255,255,0.25) 75%, rgba(255,255,255,0) 100%);
}
#photos h2 {
	position: absolute;
	width: auto;
	left: 50%;
	padding: 0;
	z-index: 4;
	font-weight: normal;
	line-height: 1em;
	font-family: "gillsans_condensed", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	opacity: 0;
}
#photos section {
	width: auto;
	margin: 0 auto;
	padding: 0;
	background-color: #F00;
	background-image:
		-webkit-linear-gradient(0deg, #ECEDEE 0%,  #ECEDEE 4%,  #ECEEF0 4%,  #ECEEF0 12%, #EBEEF1 12%, #EBEEF1 14%,
			#ECEEF1 14%, #ECEEF1 21%, #EBEEF0 21%, #EBEEF0 41%, #EAEEF0 41%, #EAEEF0 61%, #EBEEEF 61%, #EBEEEF 69%,
			#ECEEF0 69%, #ECEEF0 74%, #ECEFF0 74%, #ECEFF0 82%, #ECF0EF 82%, #ECF0F0 86%, #EDF0F1 86%, #EDF0F1 88%,
			#EDF0F1 88%, #EFEFF0 89%, #EEEFF0 89%, #EAEBEB 90%, #EAEBEB 90%, #E3E3E3 91%, #E3E3E3 91%, #928F92 94%,
			#928F92 94%, #21202A 97%, #21202A 97%, #171723 98%, #171723 98%, #10101D 100%),
		-webkit-linear-gradient(0deg, #030F30 0%,  #030F30 3%,  #0F1030 3%,  #0F1030 6%,  #0F0F30 6%,  #0F0F30 12%,
			#0F0D2C 12%, #0E0823 16%, #0E0822 16%, #0F0F2A 20%, #141F20 20%, #1B3864 24%, #1B4C80 24%, #125993 28%,
			#0B6383 28%, #0468AF 32%, #007086 32%, #0071B7 36%, #0072B8 36%, #0072B9 40%, #0074BB 40%, #0074BB 48%,
			#0074BB 48%, #0072B9 50%, #0073B9 50%, #0073B9 54%, #0072B9 54%, #0070B8 58%, #006DB5 58%, #0068AF 62%,
			#0061A7 62%, #01589A 66%, #024C87 66%, #053F74 70%, #0A3161 70%, #0E244F 74%, #11193E 74%, #111235 78%,
			#0D1134 78%, #0D1134 82%, #0D1134 82%, #0D1032 86%, #0E1032 86%, #0E1032 90%, #0F1233 90%, #0F1232 98%,
			#0F1232 98%, #0F1132 100%),
		-webkit-linear-gradient(0deg, #0F1029 0%,  #0F1029 5%,  #0F1129 5%,  #0F1129 6%,  #0C0C28 6%,  #0C0C28 7%,
			#0D0D28 7%,  #0D0D28 11%, #0D0D27 11%, #0D0D27 13%, #0D0E27 13%, #0D0A27 15%, #0D0B27 15%, #0D0B27 18%,
			#0D0B23 18%, #0D0B28 20%, #0B0B28 20%, #0D0B28 22%, #0B0B24 22%, #0E0B25 24%, #0C0B25 24%, #0B0B23 26%,
			#0D0B24 26%, #0D0B26 28%, #0D0B24 28%, #0D0B24 30%, #0C0B25 30%, #0C0B25 35%, #0C0A25 35%, #0C0A25 38%,
			#0C0C25 38%, #0C0C25 39%, #0C0A25 39%, #0C0A25 43%, #0C0A24 43%, #0C0A28 45%, #0C0927 45%, #0C0B27 47%,
			#0C0B27 47%, #0C0D28 49%, #0C0C28 49%, #0C0C28 60%, #0D0C29 60%, #0D0C29 64%, #0C0D28 64%, #0C0D28 66%,
			#0D0C2D 66%, #0D0C2C 70%, #0C0B2C 70%, #100F2D 72%, #0F0E2D 72%, #0F0E2D 74%, #0E0E2C 74%, #120E2F 76%,
			#111031 76%, #111031 77%, #110F31 77%, #110F31 79%, #110E2F 79%, #110E2F 81%, #110F31 81%, #110E2F 83%,
			#120D2E 83%, #0E0F30 85%, #0F0F30 85%, #0F0F30 87%, #0F1231 87%, #0F1131 89%, #0F1330 89%, #0F1330 90%,
			#0F1233 90%, #0F1233 93%, #0F1132 93%, #0F1536 95%, #101436 95%, #0C1634 97%, #0D1534 97%, #0D1534 100%);
	background-image:
		linear-gradient(90deg,        #ECEDEE 0%,  #ECEDEE 4%,  #ECEEF0 4%,  #ECEEF0 12%, #EBEEF1 12%, #EBEEF1 14%,
			#ECEEF1 14%, #ECEEF1 21%, #EBEEF0 21%, #EBEEF0 41%, #EAEEF0 41%, #EAEEF0 61%, #EBEEEF 61%, #EBEEEF 69%,
			#ECEEF0 69%, #ECEEF0 74%, #ECEFF0 74%, #ECEFF0 82%, #ECF0EF 82%, #ECF0F0 86%, #EDF0F1 86%, #EDF0F1 88%,
			#EDF0F1 88%, #EFEFF0 89%, #EEEFF0 89%, #EAEBEB 90%, #EAEBEB 90%, #E3E3E3 91%, #E3E3E3 91%, #928F92 94%,
			#928F92 94%, #21202A 97%, #21202A 97%, #171723 98%, #171723 98%, #10101D 100%),
		linear-gradient(90deg,        #030F30 0%,  #030F30 3%,  #0F1030 3%,  #0F1030 6%,  #0F0F30 6%,  #0F0F30 12%,
			#0F0D2C 12%, #0E0823 16%, #0E0822 16%, #0F0F2A 20%, #141F20 20%, #1B3864 24%, #1B4C80 24%, #125993 28%,
			#0B6383 28%, #0468AF 32%, #007086 32%, #0071B7 36%, #0072B8 36%, #0072B9 40%, #0074BB 40%, #0074BB 48%,
			#0074BB 48%, #0072B9 50%, #0073B9 50%, #0073B9 54%, #0072B9 54%, #0070B8 58%, #006DB5 58%, #0068AF 62%,
			#0061A7 62%, #01589A 66%, #024C87 66%, #053F74 70%, #0A3161 70%, #0E244F 74%, #11193E 74%, #111235 78%,
			#0D1134 78%, #0D1134 82%, #0D1134 82%, #0D1032 86%, #0E1032 86%, #0E1032 90%, #0F1233 90%, #0F1232 98%,
			#0F1232 98%, #0F1132 100%),
		linear-gradient(90deg,        #0F1029 0%,  #0F1029 5%,  #0F1129 5%,  #0F1129 6%,  #0C0C28 6%,  #0C0C28 7%,
			#0D0D28 7%,  #0D0D28 11%, #0D0D27 11%, #0D0D27 13%, #0D0E27 13%, #0D0A27 15%, #0D0B27 15%, #0D0B27 18%,
			#0D0B23 18%, #0D0B28 20%, #0B0B28 20%, #0D0B28 22%, #0B0B24 22%, #0E0B25 24%, #0C0B25 24%, #0B0B23 26%,
			#0D0B24 26%, #0D0B26 28%, #0D0B24 28%, #0D0B24 30%, #0C0B25 30%, #0C0B25 35%, #0C0A25 35%, #0C0A25 38%,
			#0C0C25 38%, #0C0C25 39%, #0C0A25 39%, #0C0A25 43%, #0C0A24 43%, #0C0A28 45%, #0C0927 45%, #0C0B27 47%,
			#0C0B27 47%, #0C0D28 49%, #0C0C28 49%, #0C0C28 60%, #0D0C29 60%, #0D0C29 64%, #0C0D28 64%, #0C0D28 66%,
			#0D0C2D 66%, #0D0C2C 70%, #0C0B2C 70%, #100F2D 72%, #0F0E2D 72%, #0F0E2D 74%, #0E0E2C 74%, #120E2F 76%,
			#111031 76%, #111031 77%, #110F31 77%, #110F31 79%, #110E2F 79%, #110E2F 81%, #110F31 81%, #110E2F 83%,
			#120D2E 83%, #0E0F30 85%, #0F0F30 85%, #0F0F30 87%, #0F1231 87%, #0F1131 89%, #0F1330 89%, #0F1330 90%,
			#0F1233 90%, #0F1233 93%, #0F1132 93%, #0F1536 95%, #101436 95%, #0C1634 97%, #0D1534 97%, #0D1534 100%);
	background-size: 6% 100%, 2.5% 100%, 100% 100%;
	background-position: 0 0, 85.5% 0%,0% 0%;
	background-repeat: no-repeat;
	box-shadow: 0em 0em 1em 0.5em rgba(0, 0, 0, 0.8);
}













#coding {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
    background-color: rgba(115,194,251,0.5);
}
#coding header {
	position: relative
}
#coding header, #coding section {
	width: 108em;
	margin: 0 auto;
	padding-left: 5em;
}
#coding h2 {
	position: absolute;
	width: auto;
	color: #FFF;
	right: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	font-family: "inconsolatamedium", "gillsans_light", sans-serif;
	text-transform: lowercase;
    background-color: rgba(0,0,0,0.80);
    padding: 0;
    text-align: center;
}
#coding .code_tango {
	overflow: auto;
	/*background-color: rgba(0,0,0,0.1);*/
	margin-bottom: 2em;
	border: 0.1em solid rgba(0,0,0,0.05);
	background-color: rgba(0,0,0,0.15);
	background-image:
		-webkit-linear-gradient(0deg, rgba(0,0,0,0.1) 0em, rgba(0,0,0,0.1) 1em);
	background-image:
		linear-gradient(90deg, rgba(0,0,0,0.1) 0em, rgba(0,0,0,0.1) 1em);
	background-repeat: repeat-y;
	background-position: 0 0;
	background-size: 1em 1em;
}
.code_tango > div {
}
.code_tango > div > div {
}
.code_tango > div > div:first-child:not(:only-child) {
	float: left;
	padding: 0.9em 0.6em 0.9em 1.2em;
}
.code_tango > div > div:last-child:not(:only-child) {
	overflow: auto;
	padding: 0.9em 1.1em 0.9em 0.8em;
}














#design_modern {
	width: 100%;
	padding: 0;
}
#design_modern header {
	width: 108em;
	margin: 0 auto;
	padding: 0 5em;
	overflow: auto;
}
#design_modern header h2 {
	float: left;
	width: 25%;
	padding: 0.7407407em 0 0.333333em 0;
	font-weight: normal;
	font-size: 5.4em;
	line-height: 1.2037037em;
	font-family: "gillsans_light", serif;
	text-align: left;
}
#design_modern p, #design_modern h3 {
	padding-left: 28.148148%;
}
#design_modern h3 {
	font-size: 3em;
	line-height: 1.666667em;
	font-weight: normal;
	font-family: "gillsans_italic", sans-serif;
}
#design_modern p {
	margin-left: 0;
	padding-bottom: 1em;
	font-size: 2em;
	line-height: 1.25em;
	font-family: "joanna", serif;
}
#design_modern p strong {
	font-weight: normal;
	font-family: "joanna_bold", serif;
}
#design_modern p em {
	font-style: normal;
	font-family: "joanna_italic", serif;
}
#design_modern figure#ezra_pound {
	width: 100%;
	clear: both;
}
#ezra_pound blockquote {
	background-color: #000;
}
#ezra_pound blockquote p {
	position: relative;
	width: 7.2em;
	color: #FFF;
	margin: 0 auto;
	padding: 0.3em 0.0 0% 0%;
	font: normal normal normal 15em/0.5em "gillsans_condensed", sans-serif;
	word-spacing: -0.2em;
	text-indent: 0.166667em;
	text-transform: uppercase;
	letter-spacing: 0.006667em;
}
#ezra_pound blockquote p:before {
	display: block;
	content: "";
	position: absolute;
	background-color: #73C2FB;
	top: 0;
	right: 100%;
	bottom: 0;
	width: 100%;
	height: 100%;
}
#ezra_pound figcaption {
	width: 118em;
	margin: 0 auto;
}
#ezra_pound figcaption p {
	padding: 0.25em 2.5em 0 0;
	text-align: right;
}
#design_modern section > *:last-child {
	padding-bottom: 0;
}
#design_modern, #design_modern > *, #design_modern .quarter_maya {
	background-image: 
		linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em);
	background-image: 
		-moz-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em);
	background-image: 
		-webkit-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em);
	background-repeat: no-repeat, no-repeat;
	background-size: 28% 100%;
	background-position: 0em 0em;
}












#excerpts {
}
[aria-expanded="false"] .cut_after ~ * {
	display: none;
}
[aria-expanded="false"] .cut_after ~ .cut_hellip,
[aria-expanded="false"] span.cut_after ~ .cut_show:first-of-type  {
	display: inline;
}
[aria-expanded="true"] .cut_after ~ .cut_hellip,
[aria-expanded="true"] span.cut_after ~ .cut_show:first-of-type {
	display: none;
}
[aria-expanded] .cut_hellip {
	color: #999;
}
[aria-expanded] .cut_show {
	font-style: italic;
}










body > footer {
	width: 118em;
	background-image: 
		linear-gradient(0deg, #3D048C 0em, #3D048C 1em),
		linear-gradient(0deg, #3D048C 0em, #3D048C 1em),
		linear-gradient(90deg, #3D048C 0em, #3D048C 1em),
		linear-gradient(0deg, #C2FB73 0em, #C2FB73 1em);
	background-image: 
		-moz-linear-gradient(0deg, #3D048C 0em, #3D048C 1em),
		-moz-linear-gradient(0deg, #3D048C 0em, #3D048C 1em),
		-moz-linear-gradient(90deg, #3D048C 0em, #3D048C 1em),
		-moz-linear-gradient(0deg, #C2FB73 0em, #C2FB73 1em);
	background-image: 
		-webkit-linear-gradient(0deg, #3D048C 0em, #3D048C 1em),
		-webkit-linear-gradient(0deg, #3D048C 0em, #3D048C 1em),
		-webkit-linear-gradient(90deg, #3D048C 0em, #3D048C 1em),
		-webkit-linear-gradient(0deg, #C2FB73 0em, #C2FB73 1em);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 66.7em 2.4em, 30.5em 0.4em, 30.5em 0.4em, 15.6em 4.8em;
	background-position: 5em 0em, 0em 2.8em, 0em 3.6em, 14.9em 4.4em;
}
body > footer > div {
	padding: 4em 5em 0 32.5em;
}
body > footer > div + div {
	min-height: 28em;
	margin: 0 5em;
	padding: 0em 0 0 27.5em;
	background-image:
		-moz-radial-gradient(rgba(115,251,194,0.8) 40%, #73FBC2 60%, #73FBC2 70.7107%, transparent 70.7107%),
		-moz-radial-gradient(rgba(115,194,251,0.8) 40%, #73C2FB 60%, #73C2FB 70.7107%, transparent 70.7107%),
		-moz-radial-gradient(rgba(194,251,115,0.8) 40%, #C2FB73 60%, #C2FB73 70.7107%, transparent 70.7107%),
		-moz-radial-gradient(rgba(194,115,251,0.8) 40%, #C273FB 60%, #C273FB 70.7107%, transparent 70.7107%),
		-moz-radial-gradient(rgba(251,194,115,0.8) 40%, #FBC273 60%, #FBC273 70.7107%, transparent 70.7107%),
		-moz-radial-gradient(rgba(251,115,194,0.8) 40%, #FB73C2 60%, #FB73C2 70.7107%, transparent 70.7107%);
	background-image:
		-webkit-radial-gradient(rgba(115,251,194,0.8) 40%, #73FBC2 60%, #73FBC2 70.7107%, transparent 70.7107%),
		-webkit-radial-gradient(rgba(115,194,251,0.8) 40%, #73C2FB 60%, #73C2FB 70.7107%, transparent 70.7107%),
		-webkit-radial-gradient(rgba(194,251,115,0.8) 40%, #C2FB73 60%, #C2FB73 70.7107%, transparent 70.7107%),
		-webkit-radial-gradient(rgba(194,115,251,0.8) 40%, #C273FB 60%, #C273FB 70.7107%, transparent 70.7107%),
		-webkit-radial-gradient(rgba(251,194,115,0.8) 40%, #FBC273 60%, #FBC273 70.7107%, transparent 70.7107%),
		-webkit-radial-gradient(rgba(251,115,194,0.8) 40%, #FB73C2 60%, #FB73C2 70.7107%, transparent 70.7107%);
	background-image:
		radial-gradient(rgba(115,251,194,0.8) 40%, #73FBC2 60%, #73FBC2 70.7107%, transparent 70.7107%),
		radial-gradient(rgba(115,194,251,0.8) 40%, #73C2FB 60%, #73C2FB 70.7107%, transparent 70.7107%),
		radial-gradient(rgba(194,251,115,0.8) 40%, #C2FB73 60%, #C2FB73 70.7107%, transparent 70.7107%),
		radial-gradient(rgba(194,115,251,0.8) 40%, #C273FB 60%, #C273FB 70.7107%, transparent 70.7107%),
		radial-gradient(rgba(251,194,115,0.8) 40%, #FBC273 60%, #FBC273 70.7107%, transparent 70.7107%),
		radial-gradient(rgba(251,115,194,0.8) 40%, #FB73C2 60%, #FB73C2 70.7107%, transparent 70.7107%);
	background-repeat: no-repeat;
	background-size: 24em 24em, 40em 40em, 20em 20em, 16em 16em, 8em 8em, 26em 26em;
	background-repeat: no-repeat;
	background-position: 27% 10em, 0% 6em, 55% 6em, 50% 2em, 100% 10em, 90% 6em;
}







/* Creative Commons License */
.creative_commons_license {
	width: 54em;
	font-size: 1em;
	line-height: 1em;
	padding-bottom: 2em;
	height: 3.5em;
}
.creative_commons_license > a.creative_commons_image {
	display: block;
	float: left;
	width: 10em;
	height: 3.5em;
	margin-right: 0.4em;
}
.creative_commons_license > small {
	display: block;
	font-size: 1.2em;
	line-height: 1.25em;
	padding-top: 0.25em;
}




/* arrow to lead to next section */
.next_arrow {
	position: absolute;
	bottom: 0;
	width: 1.12em;
	height: 0.8em;
	padding-top: 0.32em;
	z-index: 6;
	font-size: 5em;
	line-height: 0.8em;
	font-family: "inconsolatamedium", monospace;
	text-align: center;
}
.next_arrow:hover, .next_arrow:active, .next_arrow:focus {
	cursor: pointer;
	text-decoration: none;
}




/* If there is a need to split to parts on a page, where CSS columns wouldn't cut it */
.double_stack {
	overflow: auto;
}
.double_stack > div {
	float: left;
	width: 50%;
}
.double_stack > div:first-child > * {
	margin-right: 1em;
}
.double_stack > div:last-child > * {
	margin-left: 1em;
}






/* accordian player */
.accordian:after {
	content: "";
	display: block;
	background-color: #73C2FB;
	height: 0.1em;
	width: 100%;
}
.accordian > *:first-child {
	position: relative;
}
html.touch .accordian > *:first-child {
	padding: 1em 0;
}
.accordian span.toggler {
	position: absolute;
	right: 0;
	top: 12em;
	height: 7em;
	width: 10em;
	font-size: 0.1em;
	background-image:
		linear-gradient(135deg, #FFF 25%, transparent 25%),
		linear-gradient(225deg, #FFF 25%, transparent 25%),
		linear-gradient(315deg, #FFF 25%, transparent 25%),
		linear-gradient(45deg, #FFF 25%, transparent 25%);
	background-image:
		-moz-linear-gradient(135deg, #FFF 25%, transparent 25%),
		-moz-linear-gradient(225deg, #FFF 25%, transparent 25%),
		-moz-linear-gradient(315deg, #FFF 25%, transparent 25%),
		-moz-linear-gradient(45deg, #FFF 25%, transparent 25%);	
	background-image:
		-webkit-linear-gradient(135deg, #FFF 25%, transparent 25%),
		-webkit-linear-gradient(225deg, #FFF 25%, transparent 25%),
		-webkit-linear-gradient(315deg, #FFF 25%, transparent 25%),
		-webkit-linear-gradient(45deg, #FFF 25%, transparent 25%);	
	background-position: 0em -3em, -5em 0em, -5em 0em, 0 -3em;
	background-size: 10em 10em;
	background-color: #000;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .accordian span.toggler {
	background-position: 0em -3em, -5em 0em, -5em 0em, 0 -3em;
	}
	.accordian.selected span.toggler {	
		background-position: -5em -3em, 0 0em, 0em 0em, -5em -3em;

	}
}
@media screen and (-webkit-min-device-pixel-ratio:2) {
	.accordian span.toggler {
		background-position: 0em -3em, -5em 0em, -5em 0em, 0 -3em;
	}
	.accordian.selected span.toggler {	
		background-position: -5em -3em, 0 0em, 0em 0em, -5em -3em;

	}
}
@-moz-document url-prefix() {
	.accordian span.toggler {
		background-position: 0em -3em, -5em 0em, -5em 0em, 0 -3em;
	}
	.accordian.selected span.toggler {	
		background-position: -5em -3em, 0 0em, 0em 0em, -5em -3em;

	}
}




	/*  understanding radial gradients
		http://www.impressivewebs.com/css3-radial-gradient-syntax/
		http://westciv.com/tools/radialgradients/
		http://lea.verou.me/css3patterns/
		when using radial backgrounds as a circle, use 0.70710678118 as outer edge
		100% means the 45 deg diagonal hits the corner, so 1/sqrt(2) is 70.7%
	*/
/*	background-color:rgba(255, 255, 255, 1);
	background-image: -moz-radial-gradient(90px 90px, circle farthest-side,
		rgba(255, 0, 0, 1) 0px,
		rgba(0, 255, 0, 1) 70px,
		rgba(0, 0, 255, 1) 89px,
		rgba(255, 255, 255, 1) 90px); */

/* makes stripes, fits with maya_stripes.js */
/*
.maya_stripes {
	background-image: 
		linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em),
		linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em),
		linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em);
	background-image: 
		-moz-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em),
		-moz-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em),
		-moz-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em);
	background-image: 
		-webkit-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em),
		-webkit-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em),
		-webkit-linear-gradient(0deg, #73C2FB 0em, #73C2FB 1em);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 0 0, 0 0, 0 0;
	background-position: 108em 108em, 108em 108em, 108em 108em;
}
*/

