

@media all and (max-width: 800px) {
	body {
		width: 100%;
	}
	[role="banner"], article > section {
		width: auto;
		padding-right: 2em;
		padding-left: 2em;
	}
	body > header > h1 {
		font-size: 10em;
	}
	article h2 {
		width: auto;
	}
	#design_modern header {
		width: auto;
		padding: 0 2em;
	}
	#design_modern header h2 {
		font-size: 3.8em;
	}
	#ezra_pound q {
		width: auto;
		font-size: 10em;
		text-align: center;
		text-indent: 0;
	}
	#design_modern section {
		width: auto;
	}
	#design_modern section > p {
		padding-right: 1em;
	}
	#coding header, #coding section {
		padding-left: 2em;
	}
	.creative_commons_license {
		width: auto;
	}
}
@media all and (max-width: 850px) {
	#head_soc li {
		width: 10em;
		margin-bottom: 1em;
	}
	#head_soc li:nth-child(4) {
		clear: both;
	}
}
@media all and (min-width: 801px) and (max-width: 1024px) {
	body {
		width: 100%;
	}
	[role="banner"], article > section {
		width: auto;
		padding-right: 3em;
		padding-left: 3em;
	}
	article h2 {
		width: auto;
	}
	#design_modern header {
		width: auto;
		padding: 0 3em;
	}
	#ezra_pound {
		text-align: center;
	}
	#design_modern section {
		width: auto;
	}
	#design_modern section > p {
		padding-right: 1.5em;
	}
	#coding header, #coding section {
		padding-left: 3em;
	}
	#coding h2 {
		position: static;
		width: auto;
		padding-bottom: 0.1em;
		margin-bottom: 0.2em;
		font-size: 5em;
	}
	#foot_contact {
		width: 33.3333%;
	}
	#foot_contact dt, #foot_contact > dl:last-of-type dt {
		width: auto;
		margin-right: 0.5em;
	}
	#foot_links {
		margin-left: 0;
	}
	#foot_links ul {
		width: 90%;
		margin: 0 auto;
	}
	#foot_links li {
		width: 20%;
		margin: 0;
	}
	#foot_links ul a {
		margin: 0 auto;
	}
	#foot_links h3 {
		text-align: center;
	}
	[role="contentinfo"] .creative_commons_license {
		margin: 0 auto;
	}
}

@media all and (min-width: 801px) and (max-width: 900px) {
	#design_modern header h2 {
		font-size: 3.8em;
	}
	#ezra_pound q {
		width: auto;
		font-size: 10em;
		text-indent: 0;
	}
}
@media all and (min-width: 901px) and (max-width: 1024px) {
	#design_modern header h2 {
		font-size: 4.3em;
	}
	#ezra_pound q {
		width: auto;
		font-size: 12em;
		text-indent: 0;
	}
}
@media all and (min-width: 1025px) and (max-width: 1180px) {
	body {
		width: 100%;
	}
	[role="banner"], article > section {
		width: auto;
	}
	article h2 {
		width: auto;
	}
	#design_modern header {
		width: auto;
		padding: 0 5em;
	}
	#ezra_pound {
		text-align: center;
	}
	#design_modern section {
		width: auto;
	}
	#coding header, #coding section {
		padding-left: 5em;
	}
	#foot_contact {
		width: 33.3333%;
	}
	#foot_contact dt, #foot_contact dl ~ dl dt {
		width: auto;
		margin-right: 0.5em;
	}
	#foot_links li {
		width: 20%;
		margin: 0;
	}
}
@media all and (min-width: 1025px) and (max-width: 1100px) {
	#design_modern header h2 {
		font-size: 4.5em;
	}
	#ezra_pound q {
		width: auto;
		font-size: 13em;
		text-indent: 0;
	}
	#coding h2 {
		font-size: 4em;
	}
}
@media all and (min-width: 1101px) and (max-width: 1179px) {
	#design_modern header h2 {
		font-size: 5em;
	}
	#ezra_pound q {
		width: auto;
		font-size: 14em;
		text-indent: 0;
		word-spacing: -0.1em;
	}
	#coding h2 {
		font-size: 5em;
	}
}
@media all and (min-width: 1180px) {
	body {
		width: 100%;
		margin: 0 auto;
		padding: 0 0em;
	}
}


