/*@media only screen and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) { */


@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width: 1136px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	body > header, body > article, body >footer {
		font-size: 300%;
	}
	[role="banner"], article > section, article h2 {
		width: auto;
		padding: 0 1.5em;
	}
	article h2 {
		padding: 0 0.75em 0.5em 0.75em;
	}
	article {
		padding-bottom: 2em;
	}
	ul {
		margin-bottom: 1em;
		padding-left: 1em;
	}
	ol {
		margin-bottom: 1em;
		padding-left: 3em;
	}
	p, li {
		font-size: 1.4em;
	}
	.double_stack > div {
		float: none;
		width: auto;
	}
	.double_stack > div:first-child > * {
		margin-right: 0em;
	}
	.double_stack > div:last-child > * {
		margin-left: 0em;
	}
	[role="banner"] h1 {
		font-size: 4em;
		font-family: "Candida Bold", serif;
		/*font-family: "lavanderiasturdyttf";*/
		line-height: 1em;
		padding: 0.4em 0 0.4em 0;
	}
	[role="banner"] h3 {
		font-weight: bold;
	}
	[role="banner"] h3, [role="banner"] p {
		font-size: 1.6em;
	}
	[role="banner"] cite {
	}
	#head_soc ul {
		margin-bottom: 3em;
		padding-left: 0;
	}
	#head_soc li {
		margin-bottom: 1em;
		width: 9.2em;
	}
	#head_soc li:nth-child(1) {background-position: 0em -24em;}
	#head_soc li:nth-child(2) {background-position: 0em -28em;}
	#head_soc li:nth-child(3) {background-position: 0em -32em;}
	#head_soc li:nth-child(4) {background-position: 0em -36em;}
	#head_soc li:nth-child(5) {background-position: 0em -40em;}
	#head_soc li:nth-child(6) {background-position: 0em -44em;}
	article p {
		padding-bottom: 0.666667em;
	}
	canvas#the_circle {
		display: none;
	}
	#photos {
	}
	#coding {
		padding-top: 1.5em;
		padding-left: 0;
	}
	#coding h2 {
		position: static;
		font-size: 3em;
		line-height: 1.333333em;
	}
	#coding header, #coding section {
		padding-left: 1.5em;
	}

	#design_modern, #design_modern .quarter_maya, #design_modern > * {
		background-image: none;
	}
	#design_modern.accordian span.toggler {
		position: absolute;
		right: 7.5em;
		top: 10em;
		height: 7em;
		width: 10em;
		font-size: 0.2em;
	}
	#design_modern h3 {
		padding-left: 0em;
		padding-bottom: 0;
		font-size: 2em;
		line-height: 1.25em;
	}
	#design_modern p {
		font-size: 1.5em;
		padding: 0;
	}
	#design_modern header {
		width: auto;
		padding: 0 0em;
	}
	#design_modern header h2 {
		padding: 1.5em 1em 1em 1em;
		float: none;
		width: auto;
		font-size: 1.5em;
		background-color: #73C2FB;
		/*font-family: "gillsans_bolditalic", sans-serif*/
	}
	#design_modern header p {
		float: none;
		width: auto;
		margin: 0;
		padding: 0.5em 1em 0.5em 1em;
		font-size: 1.5em;
	}
	#design_modern #ezra_pound {
		width: auto;
	}
	#ezra_pound q {
		position: static;
		width: auto;
		padding: 0.3em 0 0;
		font-size: 7em;
		line-height: 0.8em;
		word-spacing: 0;
		text-indent: 0em;
		letter-spacing: 0;
	}
	#ezra_pound q:before {
		display: none;
	}
	#design_modern section {
		width: auto;
		float: none;
		margin: 0;
	}
	#design_modern section > *:last-child {
		padding-bottom: 1em;
	}
	#excerpts p {
		font-size: 1.4em;
		line-height: 1.25em;
	}
	[role="contentinfo"] section {
		width: auto !important;
		margin: 0 auto !important;
	}
	#foot_inspire, #foot_contact {
		padding: 0 1.5em;
	}
	#foot_inspire h3, #foot_contact h3 {
		font-size: 2.4em;
		padding: 0 !important;
	}
	[role="contentinfo"] p, #foot_contact dl, #foot_contact p {
		font-size: 1.5em;
		line-height: 1.5em;
		padding: 0 !important;
		font-family: "Gill Sans", "gillsans", sans-serif;
	}
	#foot_contact dt, #foot_contact > dl:last-of-type dt {
		width: 7em;
	}
	#foot_contact .rsa_pub_key {
		left: 0;
		margin-left: 1em;
		padding: 2em 2em 1.5em 2em;
		background-color: rgba(0,0,0,0.95);
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		border-radius: 1em;
	}
	#foot_contact .rsa_pub_key code {
		line-height: 1em;
	}
	[role="contentinfo"] .creative_commons_license {
		width: auto;
		margin: 0 1em;
		height: auto;
	}
	.creative_commons_license small {
		padding-bottom: 2em;
	}
	#foot_links .social_fu {
		width: auto;
		margin: 0 auto;
		padding: 0;
	}
	#foot_links .social_fu li {
		font-size: 1em;
		width: 5em;
		margin: 0 0.7em;
	}
	#foot_links .social_fu li:last-of-type {
		margin-right: 0;
	}
	#foot_links .social_fu li span, #foot_links .social_fu li a {
		display: none;
	}
	#foot_links h3 {
		font-size: 5em;
		text-align: center;
	}
	.creative_commons_license {
		width: auto;
	}
	.creative_commons_license + * {
		clear: both;
		padding-top: 1.333333em;
	}

}
