/*@media only screen and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) { */


@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width: 1136px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	body > header, body > article, body >footer {
		font-size: 3em;
	}
	body > header, article {
		padding: 0 1.5em;
	}
	ul {
		margin-bottom: 1em;
		padding-left: 1em;
	}
	ol {
		margin-bottom: 1em;
		padding-left: 3em;
	}
	body > header h1 {
		font-size: 5em;
		font-family: "lavanderiasturdyttf";
		line-height: 1em;
		padding: 0.4em 0 0.4em 0;
	}
	body > header h3 {
		font-weight: bold;
	}
	body > header p, body > header h3 {
		font-size: 1.5em;
		line-height: 1.333333em;
		font-family: Helvetica, sans-serif;
	}
	body > header cite {
		font-style: italic;
		font-family: Helvetica, sans-serif;
	}
	#head_soc ul {
		margin-bottom: 3em;
		padding-left: 0;
	}
	#head_soc li {
		margin-bottom: 1em;
		width: 9.2em;
	}
	#head_soc li:nth-child(1) {background-position: 0em -24em;}
	#head_soc li:nth-child(2) {background-position: 0em -28em;}
	#head_soc li:nth-child(3) {background-position: 0em -32em;}
	#head_soc li:nth-child(4) {background-position: 0em -36em;}
	#head_soc li:nth-child(5) {background-position: 0em -40em;}
	#head_soc li:nth-child(6) {background-position: 0em -44em;}
	article {
		padding-top: 0em;
	}
	article:nth-of-type(2) {
		padding-bottom: 0;
	}
	article h2 {
		padding-bottom: 0em;
	}
	article p {
		padding-bottom: 0.666667em;
	}
	canvas#the_circle {
		display: none;
	}
	body > footer {
		background-image: none;
	}
	body > footer > div {
		padding: 0 1.5em;
	}
	body > footer > div + div {
		margin: 0;
		min-height: 16em;
		padding-left: 1.5em;
		background-size: 12em 12em, 20em 20em, 10em 10em, 8em 8em, 4em 4em, 13em 13em;
		background-position: 25% 5em, 0% 3em, 55% 3em, 50% 1em, 100% 5em, 90% 3em;
	}
	#design_modern, #design_modern .quarter_maya, #design_modern > * {
		background-image: none;
	}
	#design_modern.accordian span.toggler {
		position: absolute;
		right: 7.5em;
		top: 10em;
		height: 7em;
		width: 10em;
		font-size: 0.2em;
	}
	#design_modern h3 {
		padding-left: 0.833333em;
		padding-bottom: 0;
		font-size: 2em;
		line-height: 1.25em;
	}
	#design_modern p {
		font-size: 1.5em;
		padding: 1em 1em 1em 1em;
	}
	#design_modern header {
		width: auto;
		padding: 0 0em;
	}
	#design_modern header h2 {
		padding: 1.5em 1em 1em 1em;
		float: none;
		width: auto;
		font-size: 1.5em;
		background-color: #73C2FB;
		font-family: "gillsans_bolditalic", sans-serif
	}
	#design_modern header p {
		float: none;
		width: auto;
		margin: 0;
		padding: 0.5em 1em 0.5em 1em;
		font-size: 1.5em;
		display: none;
	}
	#ezra_pound blockquote {
		padding-right: 0em;
		text-align: center;
	}
	#ezra_pound blockquote p {
		width: auto;
		font-size: 4.4em;
		text-align: center;
		padding: 0.5em 0.0 0.2em 0%;
		letter-spacing: 0em;
	}
	#ezra_pound figcaption {
		width: auto;
		padding: 0 0em;
	}
	#ezra_pound figcaption p {
		padding: 0 0.833333em 0 0;
	}
	#design_modern section {
		width: auto;
	}
	#design_modern section > *:last-child {
		padding-bottom: 1em;
	}

	.double_stack > div {
		float: none;
		width: auto;
	}
	.double_stack > div:first-child > * {
		margin-right: 0em;
	}
	.double_stack > div:last-child > * {
		margin-left: 0em;
	}
	.creative_commons_license {
		width: auto;
	}
	.creative_commons_license + * {
		clear: both;
		padding-top: 1.333333em;
	}

}
