

@media all and (max-width: 800px) {
	body {
		width: 100%;
	}
	[role="banner"], article > section {
		width: auto;
		padding-right: 2em;
		padding-left: 2em;
	}
	body > header > h1 {
		font-size: 10em;
	}
	body > footer {
		width: auto;
		background-size: 61.8% 2.4em, 23.6% 0.4em, 23.6% 0.4em, 14.6% 4.8em;
		background-position: 2em 0em, 0em 2.8em, 0em 3.6em, 10.6% 4.4em;
	}
	body > footer > div {
		padding: 4em 2em 0 25.6%;
	}
	body > footer > div + div {
		margin: 0 0em;
		padding: 0em 0 0 27.5em;
	}
	#design_modern header {
		width: auto;
		padding: 0 2em;
	}
	#design_modern header h2 {
		font-size: 3.8em;
	}
	#ezra_pound blockquote p {
		width: auto;
		font-size: 10em;
		text-align: center;
	}
	#ezra_pound figcaption {
		width: auto;
		padding: 0 2em;
	}
	#ezra_pound figcaption p {
		padding: 0;
	}
	#design_modern section {
		width: auto;
	}
	#design_modern section > p {
		padding-right: 1em;
	}
	#coding header, #coding section {
		padding-left: 2em;
	}
	.creative_commons_license {
		width: auto;
	}
}
@media all and (max-width: 850px) {
	#head_soc li {
		width: 10em;
		margin-bottom: 1em;
	}
	#head_soc li:nth-child(4) {
		clear: both;
	}
}
@media all and (min-width: 801px) and (max-width: 1024px) {
	body {
		width: 100%;
	}
	[role="banner"], article > section {
		width: auto;
		padding-right: 3em;
		padding-left: 3em;
	}
	body > footer {
		width: auto;
		background-size: 61.8% 2.4em, 23.6% 0.4em, 23.6% 0.4em, 14.6% 4.8em;
		background-position: 2em 0em, 0em 2.8em, 0em 3.6em, 10.6% 4.4em;
	}
	body > footer > div {
		padding: 4em 3em 0 25.6%;
	}
	body > footer > div + div {
		margin: 0 0em;
		padding: 0em 0 0 27.5em;
	}
	#design_modern header {
		width: auto;
		padding: 0 3em;
	}
	#ezra_pound blockquote {
		padding-right: 3em;
	}
	#ezra_pound figcaption {
		width: auto;
		padding: 0 3em;
	}
	#ezra_pound figcaption p {
		padding: 0;
	}
	#design_modern section {
		width: auto;
	}
	#design_modern section > p {
		padding-right: 1.5em;
	}
	#coding header, #coding section {
		padding-left: 3em;
	}
	#coding h2 {
		position: static;
		width: auto;
		padding-bottom: 0.1em;
		margin-bottom: 0.2em;
		font-size: 5em;
	}
}

@media all and (min-width: 801px) and (max-width: 900px) {
	#design_modern header h2 {
		font-size: 3.8em;
	}
	#ezra_pound blockquote p {
		width: auto;
		font-size: 10em;
	}
}
@media all and (min-width: 901px) and (max-width: 1024px) {
	#design_modern header h2 {
		font-size: 4.3em;
	}
	#ezra_pound blockquote p {
		width: auto;
		font-size: 12em;
	}
}
@media all and (min-width: 1025px) and (max-width: 1180px) {
	body {
		width: 100%;
	}
	[role="banner"], article > section {
		width: auto;
	}
	body > footer {
		width: auto;
		background-size: 61.8% 2.4em, 23.6% 0.4em, 23.6% 0.4em, 14.6% 4.8em;
		background-position: 2em 0em, 0em 2.8em, 0em 3.6em, 10.6% 4.4em;
	}
	body > footer > div {
		padding: 4em 5em 0 25.6%;
	}
	body > footer > div + div {
		margin: 0 2em;
		padding: 0em 0 0 27.5em;
	}
	#design_modern header {
		width: auto;
		padding: 0 5em;
	}
	#ezra_pound blockquote {
		padding-right: 5em;
		text-align: right;
	}
	#ezra_pound figcaption {
		width: auto;
		padding: 0 5em;
	}
	#ezra_pound figcaption p {
		padding: 0;
	}
	#design_modern section {
		width: auto;
	}
	#coding header, #coding section {
		padding-left: 5em;
	}
}
@media all and (min-width: 1025px) and (max-width: 1100px) {
	#design_modern header h2 {
		font-size: 4.5em;
	}
	#ezra_pound blockquote p {
		width: auto;
		font-size: 13em;
	}
	#coding h2 {
		font-size: 4em;
	}
}
@media all and (min-width: 1101px) and (max-width: 1179px) {
	#design_modern header h2 {
		font-size: 5em;
	}
	#ezra_pound blockquote p {
		width: auto;
		font-size: 14em;
	}
	#coding h2 {
		font-size: 5em;
	}
}
@media all and (min-width: 1180px) {
	body {
		width: 100%;
		margin: 0 auto;
		padding: 0 0em;
	}
}


